header {
  background: linear-gradient(to right, black, grey, black);
  padding: 0.5rem 0;
}

body {
  background: linear-gradient(to right, black, grey, black);
}

img {
  max-width: 100%;
}

.intro__image {
  animation: from-right 1.5s ease;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
  color: white;
}

.bunnyLogo {
  text-align: center;
}

.navSection {
  position: relative;
}

.contact {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 5rem;
}
.contact .contact__info {
  color: white;
  background-color: black;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.slogan__title {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 5rem;
}

.aboutus__title {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 2rem;
}

#intro-section {
  background: linear-gradient(to right, black, grey, black);
  padding-top: 8rem;
}
#intro-section .intro__title {
  text-transform: capitalize;
  color: white;
  font-size: 4.5rem;
  text-align: center;
}
#intro-section .intro__subtitle {
  text-transform: capitalize;
  color: white;
  font-size: 2rem;
  margin-left: 30rem;
  display: inline-block;
  margin-top: 1.2rem;
}
#intro-section .intro__image {
  text-align: center;
}

.storetitle {
  text-align: center;
  padding-top: 5rem;
}

.aboutustext {
  padding-left: 7rem;
  padding-right: 7rem;
  background-color: black;
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.aboutus__texttt {
  color: white;
}

.contact__infoba {
  color: white;
  text-align: center;
}

.contact__inforos {
  color: white;
  text-align: center;
}

.contact__infoemail {
  color: white;
  text-align: center;
}

.videosection {
  background-color: black;
  text-align: center;
}

.download__title {
  color: black;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.download__div {
  display: flex;
  justify-content: space-evenly;
}
.download__div .download__appstore {
  background-color: white;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.5rem;
}
.download__div .download__playstore {
  background-color: white;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.copy {
  color: white;
}

.footer {
  background: linear-gradient(to right, black, grey, black);
  padding-top: 1rem;
}
.footer .footer__mediatext {
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5rem;
}
.footer .footer__icons a {
  color: white;
  margin-left: 1rem;
}
.footer .footer_icons {
  text-align: center;
  padding: 1.5rem 0;
}
.footer .footer_icons a i {
  font-size: 2rem;
}
.footer .footer__div {
  color: white;
  text-align: center;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.download {
  padding-top: 5rem;
}

.store__title {
  color: white;
  background-color: black;
  text-align: center;
}

.store__image {
  background-color: black;
  text-align: center;
}

.store__location {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.map {
  background-color: black;
  text-align: center;
}

.formlegend {
  text-align: center;
}

.formmm {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.productstitle__display {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.products__upperbody:hover {
  background-color: black;
  color: grey;
  border: none;
  font-weight: bold;
}

.roducts__lowerbody:hover {
  background-color: black;
  color: grey;
  font-weight: bold;
}

.products__accesorios:hover {
  background-color: black;
  color: grey;
  text-decoration: solid;
  font-weight: bold;
}

a:hover {
  color: grey;
  background-color: black;
  text-decoration: dotted;
  transform: skew(20deg);
}

.col:hover {
  color: black;
  transform: scale(1.2);
}

@media (max-width: 480px) {
  .row {
    display: grid;
  }
}
@media (max-width: 480px) {
  .nav {
    padding-left: 0%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: auto;
  position: relative;
}
.nav .nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  border: 1px solid white;
  background-color: black;
}
.nav .nav__item {
  margin-left: 1.5rem;
}
.nav .nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: red;
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*# sourceMappingURL=style.css.map */
