.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
    
    
    .nav__list{
        display: flex;
        list-style: none;
        margin: 0;
    
        border: 1px solid white;
        
        background-color: red;
        
    }
        
        
        .nav__item{
            margin-left: 1.5rem;
        
    }
    .nav__link{     
        text-decoration: none;
        text-transform: uppercase;
        color: red;
        
    }
}